h1{
    color: coral;
}

h3{
    font-weight: normal;
    color: blueviolet;
}

p{
    font-size: large;
    color: cornflowerblue;
}

.info-text{
    color: crimson;
}

.hobby-text{
    color: crimson;
}